name: Release (Changesets )

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  CI: true

jobs:
  version:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repository
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      
      - name: Install dependencies
        run: pnpm install

      - name: Typecheck
        run: pnpm typecheck

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test

      - name: Build
        run: pnpm build

      - name: Format
        run: pnpm format
      
      - name: Version Update   
        uses: changesets/action@v1  
        with:  
          commit: " New version release"  
          title: " New version release"  
          publish: pnpm ci:publish  
        env:  
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
          NPM_TOKEN: ${{ secrets.SMOOAI_NPM_TOKEN }}  

      - name: Auto-Merge Changeset PR
        run: |
          PR_NUMBER=$(gh pr list --state open --head changeset-release/main --json number --jq '.[0].number')

          if [[ -n "$PR_NUMBER" && "$PR_NUMBER" != "null" ]]; then
            echo "Found Changeset PR #$PR_NUMBER, attempting to auto-merge..."
            gh pr merge "$PR_NUMBER" --auto --squash
            
            # Re-trigger the Release workflow
            echo "Re-triggering the release workflow..."
            gh workflow run release.yml
          else
            echo "No open Changeset PR found, skipping merge."
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}